/* cookies
*******************************************************************/

.cookies {
  padding: 15px 0;
  position: sticky;
  z-index: 101;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  border-top: 2px solid $gray-200;
  .h4 {
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }
  i {
    font-size: 48px;
    margin: 10px 0 20px;
    color: $app-color-1;
  }
}