/* tabs
*******************************************************************/

main {
  .nav-pills {
    margin-bottom: 30px;
    padding: 0;
    border-bottom: 1px solid $gray-200;
    .nav-item {
      position: relative;
      margin: 0 20px;
      @include media-breakpoint-down(md) {
        margin: 0 10px;
      }
      .nav-link {
        @include media-breakpoint-up(lg) {
          min-width: 190px;
        }
        text-align: center;
        padding: 2px 20px;
        border: 1px solid $app-color-1;
        color: $app-color-1;
        &.active {
          background: $app-color-1;
          color: $white;
        }
      }
    }
  }

  .tab-content {
    > .tab-pane {
      padding: 0;
    }
  }

  .filter-item {
    margin: 6px 10px;
    color: rgba($body-color,.7);
    font-size: 18px;
    font-weight: 500;
    display: block;
    height: 24px;
    &:focus,
    &:hover,
    &.active {
      color: $app-color-1;
      text-decoration: none;
      font-weight: 500;
    }
  }

}